params {
  fastq = "data/*_R{1,2}.*"
  //TODO: how do i get both _1 and _2 fastq files??

  // TRIMMOMATIC //
  // Perform a sliding window trimming, cutting once the average quality
  // within the window falls below a threshold
  trimSlidingWindow = '5:20'
  // Cut bases off the start of a read, if below a threshold quality
  trimLeading = '3'
  // Cut bases off the end of a read, if below a threshold quality
  trimTrailing = '3'
  // Drop the read if it is below a specified length
  trimMinLength = '55'
}

env {
  PYTHONPATH = "$baseDir/templates"
}

process {
  $fastQC.container = 'ummidock/fastqc:0.11.5'
}

profiles {
  standard {
    docker.enabled = true
    process {
      $fastQC.cpus = 2
    }
  }
}